<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="FolderPath" value="E:\いろいろ書類\ゲーム開発に関する書類"/>
        <add key="Keywords" value="火炎放射器"/>
    </appSettings>
</configuration>